.about-list{
  list-style: none;
}

.about-note{
  text-align: center;
}

.about-note-2{
  text-align: center;
  margin-left: 200px;
  margin-right: 200px
}

.about-text{
  margin-left: 180px;
}

@media only screen and (max-width: 700px){
  .about-text{
    margin:auto
  }
}

.performance{
  text-align: center;
}

.note{
  color: red;
}

.about-demta{
  text-align: center;
}

.display-3{
  margin-top: 40px;
  text-align: center;
}

.links-column{
  height: 100%
}

.welcome{
  text-align: center;
  margin-top: 40px;
  margin-left: 180px
}
@media only screen and (max-width: 700px){
  .welcome{
    margin:auto
  }
}

.benefits{
  margin-left: 20px
}
@media only screen and (max-width: 700px){
  .benefits{
    margin:auto
  }
}

.membership{
  margin-left: 200px;
  margin-top: 40px
}
@media only screen and (max-width: 700px){
  .membership{
    margin:auto
  }
}

.membership h2{
  margin-left: 25px
}

.our-piano{
  text-align: center;
  margin-top: 40px;
  margin-left: 180px
}
@media only screen and (max-width: 700px){
  .our-piano{
    margin:auto
  }
}

.text-home{
  text-align: center;
  font-size: 12px;
  color: blue
}

.festival-carousel{
  font-size: 10px;
  margin-top: 40px;
}
@media only screen and (max-width: 700px){
  .festival-carousel{
    margin:auto
  }
}

.festival-carousel img{
  padding: 10px;
}

.festival-carousel p{
  text-align: center;
}

.festival-text{
  font-size: 15px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
@media only screen and (max-width: 700px){
  .festival-text{
    margin:auto
  }
}

.text-alert{
  text-align: center;
  font-size: 18px;
  color: red
}

.festival-contact{
  color: blue;
  font-size: 16px;
  text-align: center;
}

.logo-image{
  overflow: hidden;
}

