.navbar ul {
  text-align: center;
  width: 100%;
}

.nav-bar{
  margin-top: 20px;
  background-color: #cbd19b;
  height: 40px
}

.navbar li{
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
  text-transform: uppercase;
}

#navbar li a {
  color: rgb(13, 26, 38);
}

#navbar li a:hover {
  color:rgb(93, 145, 241);
  transition-duration: .5s;
 
}

.nav-wrapper{
  z-index: 5;
  background-color: #cbd19b;
}